body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C4C4C4;
    background:
        linear-gradient(
            rgba(34, 34, 34, 0.85),
            rgba(34, 34, 34, 0.85)
        );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;   
    margin: 0;
}

footer {
    color: #C4C4C4;
}

.subtitle {
    color: #C4C4C4;
}

.btn-container {
    width: 100%;
    background-color: #ab2626;
    padding: 15px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.btn-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.btn-container ul li a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-container ul li a:hover {
    background-color: rgba(126, 41, 41, 0.418);
    color: #fff;
}


header {
    width: 100%;
    text-align: center;
    margin: 30px 0;
    color: #C4C4C4;
}


.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px 0;
}

.video-section video {
    display: block;
    max-width: 50%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

