
body {
    background: linear-gradient(rgba(34, 34, 34, 0.85), rgba(34, 34, 34, 0.85));
    background-color: #1c1c1c;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 20px;
    color: #C4C4C4;
}

.genre-header {
    text-align: center; 
    color: #ab2626; 
    font-weight: bold; 
    margin-top: 40px;
    font-size: 1.2rem;
    letter-spacing: 2px;
}


.btn-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.styled-btn {
    text-decoration: none;
    font-size: 16px; 
    font-weight: bold;
    padding: 10px 30px;
    background-color: #ab2626; 
    color: #C4C4C4; 
    border: 2px solid #ab2626;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: inline-block;
}

.styled-btn:hover {
    background-color: transparent;
    color: #ab2626; 
    cursor: pointer;
}


.ost-container {
    border: 2px solid #ab2626;
    box-shadow: 0px 4px 10px rgba(5, 5, 34, 1);
    padding: 30px;
    margin: 20px auto;
    max-width: 1200px; 
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.map-section {
    overflow: hidden;
    border: 1px solid #ab2626;
    border-radius: 8px;
    background: #000;
}


.footer-text {
    text-align: center; 
    color: #C4C4C4; 
    margin-top: 50px;
    padding-bottom: 30px;
}