body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C4C4C4;
    background: linear-gradient(rgba(34, 34, 34, 0.85), rgba(34, 34, 34, 0.85));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}


.btn-container {
    width: 100%;
    background-color: #ab2626;
    padding: 15px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.btn-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.btn-container-top {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.styled-btn {
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px; 
    font-weight: bold;
    padding: 10px 30px;
    background-color: #ab2626; 
    color: #C4C4C4; 
    border: 2px solid #ab2626;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: inline-block;
}

.styled-btn:hover {
    background-color: transparent;
    color: #ab2626; 
    cursor: pointer;
}


.btn-container ul li a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-container ul li a:hover {
    background-color: rgba(126, 41, 41, 0.692);
}

header {
    width: 100%;
    text-align: center;
    margin: 30px 0;
    color: #C4C4C4;
}

.subtitle {
    color: #C4C4C4;
}

.gallery-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 450px)); 
    justify-content: center; 
    gap: 20px;                             
    width: 90%;
    margin: 0 auto 50px auto; 
}

.gallery-section img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-section img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}


.footer {
    color: #C4C4C4;
    text-align: center;
    width: 100%;
    padding: 15px 0;
}

