body {
    background:
        linear-gradient(
            rgba(34, 34, 34, 0.85),
            rgba(34, 34, 34, 0.85)
        );
    background-size: cover;
    background-position: center 40%;
    background-color: #1c1c1c;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    color: #C4C4C4;
}

h1 {
    font-size:48px;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    margin-top: 20px;
    color: #C4C4C4
}

.blogcontent {
    margin-top: -20px;
    margin-bottom: -20px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 17px;
    text-align: left;
    color: #000000
}

.blogcontent p {
    text-indent: 50px;
}

.blogcontainer {
    border: 2px solid #ab2626;
    box-shadow: 0px 4px 10px rgba(5, 5, 34, 1);
    padding: 30px;
    margin: auto;
    max-width: 900px;    
    background-color: rgba(255, 255, 255, 0.5);
}

.listcontainer {
    display: flex;
    gap: 40px;
    justify-content: center; 
    max-width: 1100px;
    margin: 0 auto; 
}

.leftcontainer, .rightcontainer {
    font-family: 'Segoe UI', sans-serif;
    font-size: 17px;
    color: #C4C4C4;
    text-shadow:
        -1px -1px 0 #000000,
         1px -1px 0 #000000,
        -1px  1px 0 #000000,
         1px  1px 0 #000000;
    flex: 1;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    color: #C4C4C4
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.styled-btn {
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px; 
    font-weight: bold;
    padding: 10px 30px;
    background-color: #ab2626; 
    color: #C4C4C4; 
    border: 2px solid #ab2626;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: inline-block;
}

.styled-btn:hover {
    background-color: transparent;
    color: #ab2626; 
    cursor: pointer;
}

.blog-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto 0 auto;
    max-width: 50%;
    height: auto;     
    border-radius: 10px;   
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}
