body {
  background-color: #FAF3E1;
}

h1 {
  color: #222831;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #BF092F;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
}

h2 {
  color: #222831;
  font-size: 42px;
  text-align: center;
  
  text-decoration-color: #BF092F;
  font-family: gerogia, serif;
  font-size: 24px;
}


h3 {
  color: #222831;
  font-size: 42px;
  text-align: center;
  
  text-decoration-color: #BF092F;
  font-family: gerogia, serif;
  font-size: 24px;
}

.autobiographycontent{
  border: 2px solid black;
  padding: 30px;
  text-align: center;
  font-size: 27px;
  
  background-color: #F5E7C6;
  width: 60%;
  margin: 0 auto;
  box-shadow: 2px 5px 12px rgba(213, 12, 21, 0.3);
  font-family: tahoma, serif;
  font-size: 16px;
  text-align: justify;
  text-indent: 40px;
}


.btn-container {
    text-align: center;
    margin: 20px 0;
}

.styled-btn {
    display: inline-block;
    text-decoration: none;
    font-family: tahoma, serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #BF092F; 
    color: #FAF3E1;
    padding: 10px 25px;
    border: 2px solid #222831;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.2);
}

.styled-btn:hover {
    background-color: #F5E7C6;
    color: #BF092F;
    cursor: pointer;
}