body {
    background:
        linear-gradient(
            rgba(34, 34, 34, 0.85),
            rgba(34, 34, 34, 0.85)
        );
    background-size: cover;
    background-position: center 40%;
    background-color: #1c1c1c;
}

h1 {
    font-size: 48px;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    margin-top: 20px;
    color: #C4C4C4;
}

h2 {
    font-family: 'Segoe UI', sans-serif;
    color: #000000;
    text-align: center;
}

.autobiographycontent {
    border: 2px solid #ab2626;
    box-shadow: 0px 4px 10px rgba(5, 5, 34, 1);
    padding: 30px;
    margin: 20px auto;
    max-width: 900px;    
    background-color: rgba(255, 255, 255, 0.5);
    
    font-family: 'Segoe UI', sans-serif;
    font-size: 17px;
    text-align: left;
    color: #000000;
}

.autobiographycontent p {
    text-indent: 50px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
    gap: 20px;
}

.styled-btn {
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px; 
    font-weight: bold;
    padding: 10px 30px;
    background-color: #ab2626; 
    color: #C4C4C4; 
    border: 2px solid #ab2626;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: inline-block;
}

.styled-btn:hover {
    background-color: transparent;
    color: #ab2626; 
    cursor: pointer;
}

a {
    font-family: 'Segoe UI', sans-serif;
    color: #C4C4C4;
}

.blog-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto 0 auto;
    max-width: 50%;
    height: auto;     
    border-radius: 10px;   
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

footer {
    text-align: center;
    margin-top: 30px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    color: #C4C4C4
}